/* Couleurs principal du site */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;


/* Couleurs spécifiques */
$color-footer: #353535;
$color-map: #eaeaea;
$color-reserv: #f6f6f6;
$color-cards: #f6f6f6;


$rayon-cercle: 22px;
